/result_data/NVD_*
/result_data/cve_*
/result_data/*.json
/logs/retrieve_BR/*.log
/logs/retrieve_BR_description/*.log
/result_data/BR_info/*.csv
/result_data/BR_with_description/*.csv
/result_data/BR_propossed/*.csv
.history
.idea
.vscode